certifi==2024.8.30 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.4.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.10 ; python_version >= "3.10" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
mdformat==0.7.18 ; python_version >= "3.10" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
python-bitbankcc @ git+https://github.com/bitbankinc/python-bitbankcc.git@a837bf64cdafbb36738f745b65e371667dcfbf18 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.1.0 ; python_version >= "3.10" and python_version < "3.11"
urllib3==2.2.3 ; python_version >= "3.10" and python_version < "4.0"
